:root {
    --email: #3FAFD9;
    --back: #0F0E17;
    --title: #E53170;
}


body{
    font-family: 'Poppins', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 70%;
    margin: auto;
}

h1 {
    text-align: center;
    color: var(--title);
    font-family: 'Fredoka One', cursive;
}

header>p {
    text-align: center;
    padding: 5%;
}

img {
    width: 80px;
    float: left;
}

.name_style{
    color: white;
    font-size: 70%;
}

.job_style {
    color: white;
    font-size: 10px;
}

.email_style {
    color: var(--email);
    font-size: 10px;
}

.col_3 {
    float: left;
    width: calc(100% / 3);
    margin-right: 0px;
    background-color: var(--back);
}